@font-face {
  font-family: Klavika;
  src: url(/fonts/klavika-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: Klavika;
  src: url(/fonts/klavika-light-webfont.woff) format("woff");
}

body {
  background-size: cover;
  background-color: black;
  margin: -2px;
  color: white;
  font-family: Klavika;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-decoration: underline;
}

h2 {
  font-size: 2pc;
}

h6 {
  font-size: 1pc;
  font-style: italic;
}

.imgbackground {
  background-size: cover;
  background-position: center;
}

.leftp {
  width: 200px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #9e9b9b;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #69b0b9;
  background-color: transparent;
  text-decoration: underline;
}

.logo {
  height: 100px;
  width: 100px;
  filter: invert(1);
  padding-left: 10vw;
}

.logocontainer {
  width: 35vw;
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  background-color: black;
  color: white;
  position: relative;
}

.enter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  background-color: black;
  color: white;
  position: relative;
}

.monk {
  height: 100px;
  width: 100px;
}

.stuiter {
  animation-name: bounce1;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 70px;
  width: 55px;
}

.bounce1 {
  animation-name: bounce1;
  animation-timing-function: ease;
}

@keyframes bounce1 {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.5);
  }
  100% {
    transform: translateY(0px) scale(1.5);
  }
}

.child1 {
  background-image: url("./images/1.jpg");
  scroll-snap-align: start;
}

.child2 {
  background-image: url("./images/2.jpg");
  scroll-snap-align: start;
}

.pagelayout1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pagelayout2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 50px;
}

.fab fa-facebook-f {
  color: white;
  width: 100px;
  height: 100px;
}

.fab fa-twitter {
  color: white;
  width: 100px;
  height: 100px;
}

.text-block-left {
  width: 25vw;
  position: absolute;
  top: 3vw;
  left: 3vw;
  color: white;
  text-decoration-line: underline;
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.text-block-right {
  width: 35vw;
  position: absolute;
  top: 3vw;
  right: 3vw;
  color: white;
  text-decoration-line: solid;
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.text-block2 {
  width: 35vw;
  position: absolute;
  bottom: 4vw;
  left: 3vw;
  color: white;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
}

.pagination {
  width: 5vw;
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  color: white;
  text-decoration-line: solid;
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.pagination a {
  color: white;
  float: left;
  padding: 1px 3px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px dotted white;
}

.pagination a.active {
  background-color: #9e9b9b;
  color: white;
  border: 1px dotted white;
}

.pagination a:hover:not(.active) {
  background-color: #69b0b9;
}

.text-pagination {
  width: 35vw;
  position: absolute;
  bottom: 5vw;
  left: 3vw;
  color: white;
  text-decoration-line: solid;
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.container9 {
  /* padding: 20px 40px 40px; */
  height: auto;
  width: auto;
  /* max-height: 1000px;
    max-width: 1000px; */
  display: flex;
  justify-content: space-around;
}

.image9 {
  left: 50%;
  margin-left: -75vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  /* margin: 30px 30px 30px 0; */
  /* float: left; */
}

.container9text {
  /* width: auto;
      height: auto; */
  margin-right: -20%;
  padding: 50px 20px 0px;
  text-align: right;
}
/*# sourceMappingURL=MM.css.map */