@font-face {
  font-family: Klavika;
  src: url(/fonts/klavika-bold-webfont.woff) format("woff");
}

@font-face {
  font-family: Klavika;
  src: url(/fonts/klavika-light-webfont.woff) format("woff");
}

body {
  background-size: cover;
  background-color: black;
  margin: -2px;
  color: white;
  font-family: Klavika;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-weight: normal;
  font-size: 3vw;
  text-decoration: underline;
}

h2 {
  font-size: 2pc;
}

h6 {
  font-size: 1pc;
  font-style: italic;
}

.leftp {
  width: 200px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #9e9b9b;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #69b0b9;
  background-color: transparent;
  text-decoration: underline;
}

.logo {
  height: 100px;
  width: 100px;
  filter: invert(1);
  padding-left: 10vw;
}

.logocontainer {
  width: 35vw;
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  /* color: white; */
  display: flex;
  align-items: flex-end;
  background-color: transparent;
}

.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.intro monk {
  animation-iteration-count: infinite;
  height: 100px;
  width: 100px;
  animation-name: bounce;
  animation-duration: 2s;
}

.intro monk bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.child1 {
  background-image: url("./images/1.jpg");
  scroll-snap-align: start;
}

.child2 {
  background-image: url("./images/2.jpg");
  scroll-snap-align: start;
}

.pagelayout1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.pagelayout2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 50px;
}

.fab fa-facebook-f {
  color: white;
  width: 100px;
  height: 100px;
}

.fab fa-twitter {
  color: white;
  width: 100px;
  height: 100px;
}

.text-block-left {
  width: 25vw;
  position: absolute;
  top: 3vw;
  left: 3vw;
  color: white;
  text-decoration-line: underline;
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.text-block-right {
  width: 35vw;
  position: absolute;
  top: 3vw;
  right: 3vw;
  color: white;
  text-decoration-line: solid;
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.text-block2 {
  width: 35vw;
  position: absolute;
  bottom: 4vw;
  left: 3vw;
  color: white;
  display: flex;
  align-items: flex-start;
  background-color: transparent;
}

.imgcarousel {
  width: 100%;
  height: 100%;
}

.pagination {
  width: 5vw;
  position: absolute;
  bottom: 3vw;
  left: 3vw;
  color: white;
  text-decoration-line: solid;
  display: flex;
  justify-content: left;
  background-color: transparent;
}

.pagination a {
  color: white;
  float: left;
  padding: 1px 2px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px dotted white;
}

.pagination a.active {
  background-color: #9e9b9b;
  color: white;
  border: 1px dotted white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.text-pagination {
  width: 35vw;
  position: absolute;
  bottom: 5vw;
  left: 3vw;
  color: white;
  text-decoration-line: solid;
  display: flex;
  justify-content: left;
  background-color: transparent;
}
/*# sourceMappingURL=MM.css.map */