$primarycolor: white;
$secondarycolor: rgb(158, 155, 155);
$tertiarycolor: rgb(105, 176, 185);


@font-face {
    font-family: Klavika;
    src: url(/fonts/klavika-bold-webfont.woff) format('woff');
}

@font-face {
    font-family: Klavika;
    src: url(/fonts/klavika-light-webfont.woff) format('woff');
}

body {
    // background-size: cover;
    height: 100%;
    background-color: black;
    margin: -2px;
    color: $primarycolor;
    font-family: Klavika;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    text-decoration: underline;
}

h2 {
    font-size: 2pc;  
}

h6 {
  font-size: 1pc;
  font-style: italic;
}

.imgbackground {
  // height: 1027px;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-position: center;
    // max-width: 100%;
    // height: auto;
    // max-height: 100%;
}
.leftp {
    width: 200px;
}
a:link {
    color: $primarycolor;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: $secondarycolor;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: $tertiarycolor;
    background-color: transparent;
    text-decoration: underline;
  }

.logo {
    height: 100px;
    width: 100px;
    filter: invert(1);
    padding-left: 10vw;
}

.logocontainer {
    width: 35vw;
    position: absolute;
    bottom: 3vw;
    right: 3vw;
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0)
}
// Tried to install arrows for navigation but the text on the page started rotating as well so I had to disable it
// Plan B: I installed a navigation arrow in the pagination element

// .arrow {
//   border: solid $primarycolor;
//   border-width: 0 1px 1px 0;
//   display: inline-block;
//   padding: 10px;
//   margin-left: 20px;
// }

// .right {
//   transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
// }
// .left {
//   transform: rotate(135deg);
//   -webkit-transform: rotate(135deg);
// }

// Page: enter
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  background-color: black;
  color: $primarycolor;
  // height: auto;
  // width: auto;
  position: relative;
}
.enter {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: black;
    color: $primarycolor;
    // height: auto;
    // width: auto;
    position: relative;
}
.monk { 
  height: 100px;
  width: 100px;
}
.stuiter {
  animation-name:bounce1;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 70px;
  width: 55px;
}
.bounce1 {
  animation-name: bounce1;
  animation-timing-function: ease;           
}
@keyframes bounce1 {
  0% { transform: translateY(0) scale(1);}
  50% { transform: translateY(-20px) scale(1.5);}
  100% { transform: translateY(0px) scale(1.5);}
}

#entering{
  background-color: brown;
  border: none;
  color: $primarycolor;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.pagelayout1 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.pagelayout2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 50px;
}



.text-block-left {
    width: 25vw;
    position: absolute;
    top: 3vw;
    left: 3vw;
    color: $primarycolor;
    text-decoration-line: underline;
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0)
}
.text-block-right {
    width: 35vw;
    position: absolute;
    top: 3vw;
    right: 3vw;
    color: $primarycolor;
    text-decoration-line: solid;
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
}
.text-block2 {
    width: 35vw;
    position: absolute;
    bottom: 4vw;
    left: 3vw;
    color: $primarycolor;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0)
}

// Navigation
.pagination {
    width: 5vw;
    position: absolute;
    bottom: 3vw;
    left: 3vw;
    color: $primarycolor;
    text-decoration-line: solid;
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
}
  
  .pagination a {
    color:$primarycolor;
    float: left;
    padding: 1px 3px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px dotted $primarycolor;
  }
  
  .pagination a.active {
    background-color: $secondarycolor;
    color: $primarycolor;
    border: 1px dotted $primarycolor;
  }
  
  .pagination a:hover:not(.active) {background-color: $tertiarycolor}
  .text-pagination {
    width: 35vw;
    position: absolute;
    bottom: 5vw;
    left: 3vw;
    color: $primarycolor;
    text-decoration-line: solid;
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
  }
  // page 9 was a challenge, tried to cut a piece of the image but that didn't work, it zoomed in too much.
  // then I tried pushing the image out and that went well, although the layout of the text is not perfect
  .container9 {
    /* padding: 20px 40px 40px; */
    height: auto;
    width: auto;
    /* max-height: 1000px;
    max-width: 1000px; */
    display: flex;
    justify-content: space-around;
    
  }

.image9 {
    left: 50%;
    margin-left: -75vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
      /* margin: 30px 30px 30px 0; */
      /* float: left; */
    }
.container9text {
      /* width: auto;
      height: auto; */
      margin-right: -20%;
      padding: 50px 20px 0px;
      text-align: right;
  }

.fab fa-facebook-f {
    color: $primarycolor;
    width: 100px;
    height: 100px;
}
.fab fa-twitter {
    color: $primarycolor;
    width: 100px;
    height: 100px;
}
  // Tried changing text next to icons to custom font but this didn't work
  // .icons {
  //   font-family: Klavika;
  //   src: url(/fonts/klavika-light-webfont.woff) format('woff');
  // }



